 <div class="container">
    <div class="row heading heading-icon">
        <h1>Our Team</h1>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" >
            <figure><img src="../public/imgs/sanchita.jpg" class="img-responsive1" alt="Sanchita"></figure>
            <h2><a href="#">Sanchita Rastogi</a></h2>
            <p>The Autheticator</p>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" >
            <figure><img src="../public/imgs/xinzhe.jpg" class="img-responsive1" alt="Xinzhe"></figure>
            <h2><a href="#">Xinzhe Li</a></h2>
            <p>The Backend Pillar</p>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" >
            <figure><img src="../public/imgs/hanfan.jpg" class="img-responsive1" alt="hanfan"></figure>
            <h2><a href="#">Hanfan Wang</a></h2>
            <p>The CSS Master</p>
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" >
            <figure><img src="../public/imgs/IMG_57401.jpg" class="img-responsive1" alt="Shreesh"></figure>
            <h2><a href="#">Shreesh Chavan</a></h2>
            <p>The Structurer</p>
          </div>
      </li>
    </ul>
  </div>