<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div  class="form-inline">
        <form name ="topform" id="top-form" class="top-form">
            <img src="../public/imgs/logo.jpg"  alt="MarketIT" id="top-log" class="top-log"/>
            <input type="text"  placeholder="Search" id="search-input" class ="search-input">
            <button class="search-button" id="search-button" type="submit">Search</button>
        </form>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Sign in </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Sign up </a>
                </li>

                <li class="nav-item dropdown">
                    <img src="../public/imgs/user_en.jpg"  alt="UserDropDown" id="drop-graph" class="drop-graph" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                    <img src="../public/imgs/triangle.jpg"  alt="UserDropDown" id="drop-triangle" class="drop-triangle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>

                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        
                        <a class="dropdown-item" href="">Your Bio</a>
                        <a class="dropdown-item" href="">Your Orders</a>
                        <a class="dropdown-item" href="">Your Posts</a>
                        <a class="dropdown-divider"></a>
                        <form class="logout-form" action="/logout" accept-charset="UTF-8" method="post">
                            <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="nsMWSKZLME7eUQxVeWSe7WZUPjWsY43w3sfbbOTCZDtXmOyCr7SVH3MqoJ5VFXtLFPBORuzA/erdiknH0xz4rQ==">
                            <button type="submit" class="dropdown-item dropdown-signout" data-ga-click="Header, sign out, icon:logout" role="menuitem">Sign out</button>
                        </form> 
                    </div>
                </li>
            </ul>
    </div> 
</nav>	

          
