{{!-- <title>Products</title> --}}

<!-- Main container -->
<div class="page-container">

    <!-- bloc-2 -->
    <div class="bloc bgc-white l-bloc" id="bloc-2">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-4">
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../public/imgs/earphone.png" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/earphone2.jpeg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/earphone3.jpeg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                    <h3 class="mg-md">
                        Sony WH-1000XM3
                    </h3>
                    <span class="label label-default">Price: $348.00</span>
                    <span class="label label-warning">Quantity: 10</span>
                    <p></p>
                    <p class="text-muted">
                        The third iteration of the WH-1000X is more comfortable, sounds slightly better and features
                        even better noise-canceling performance along with USB-C charging.
                    </p>
                    <a href="detail"><button type="button" class="btn btn-primary btn-sm">View Details</button></a>
                </div>
                <div class="col-sm-4">
                    <div id="myCarousel2" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../public/imgs/apple_home.png" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/homepod2.jpg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/homepod3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
                    </div>
                    <h3 class="mg-md">
                        Apple HomePod
                    </h3>
                    <span class="label label-default">Price: $329.00</span>
                    <span class="label label-warning">Quantity: 20</span>
                    <p></p>
                    <p class="text-muted">
                        Excellent bass and consistently superior sound quality across a wide variety of music genres.
                        The speaker is easy to set up and Siri can hear you from across a room.
                    </p>
                    <a href="detail"><button type="button" class="btn btn-primary btn-sm">View Details</button></a>
                </div>
                <div class="col-sm-4">
                    <div id="myCarousel3" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../public/imgs/lenovo.png" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/lenovo2.jpg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/lenovo3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control left" href="#myCarousel3" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel3" data-slide="next">&rsaquo;</a>
                    </div>
                    <h3 class="mg-md">
                        Lenovo Yoga 920
                    </h3>
                    <span class="label label-default">Price: $1169.99</span>
                    <span class="label label-warning">Quantity: 15</span>
                    <p></p>
                    <p class="text-muted">
                        The Lenovo Yoga 920 improves on the company's premium two-in-one ultraportable by adding active
                        pen support and Thunderbolt 3 USB-C ports, making better performance and a very long battery
                        life.
                    </p>
                    <a href="detail"><button type="button" class="btn btn-primary btn-sm">View Details</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-2 END -->

    <!-- bloc-3 -->
    <div class="bloc bgc-white l-bloc" id="bloc-3">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-4">
                    <div id="myCarousel4" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../public/imgs/dell.png" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/dell2.jpg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/dell3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control left" href="#myCarousel4" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel4" data-slide="next">&rsaquo;</a>
                    </div>
                    <h3 class="mg-md">
                        Dell XPS 13
                    </h3>
                    <span class="label label-default">Price: $849.99</span>
                    <span class="label label-warning">Quantity: 18</span>
                    <p></p>
                    <p class="text-muted">
                        The new XPS 13 body is smaller, with better internal cooling and a sharp-looking all-white
                        interior. The nearly bezel-free screen still looks great and there's a fingerprint reader
                        hidden under the power button.
                    </p>
                    <a href="detail"><button type="button" class="btn btn-primary btn-sm">View Details</button></a>
                </div>
                <div class="col-sm-4">
                    <div id="myCarousel5" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../public/imgs/q_acoustic.png" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/qa2.jpg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/qa3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control left" href="#myCarousel5" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel5" data-slide="next">&rsaquo;</a>
                    </div>
                    <h3 class="mg-md">
                        Q Acoustics 3020i
                    </h3>
                    <span class="label label-default">Price: $299.99</span>
                    <span class="label label-warning">Quantity: 25</span>
                    <p></p>
                    <p class="text-muted">
                        The affordable Q Acoustics 3020i give smooth, rich sound in a relatively compact design. The
                        speakers are well built, look sweet and are available in a number of attractive finishes.
                    </p>
                    <a href="detail"><button type="button" class="btn btn-primary btn-sm">View Details</button></a>
                </div>
                <div class="col-sm-4">
                    <div id="myCarousel6" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="../public/imgs/samsung.png" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/samsung2.jpg" alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="../public/imgs/samsung3.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control left" href="#myCarousel6" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel6" data-slide="next">&rsaquo;</a>
                    </div>
                    <h3 class="mg-md">
                        Samsung CF791
                    </h3>
                    <span class="label label-default">Price: $729.23</span>
                    <span class="label label-warning">Quantity: 18</span>
                    <p></p>
                    <p class="text-muted">
                        The Samsung CF791 34-inch curved display is a great size for gaming, and the combination of a
                        100Hz refresh rate and FreeSync pairs well with midrange Radeon cards. Plus, its color is
                        pleasing.
                    </p>
                    <a href="detail"><button type="button" class="btn btn-primary btn-sm">View Details</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-3 END -->

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->



</div>
<!-- Main container END -->


<!-- Preloader -->
<div id="page-loading-blocs-notifaction"></div>
<!-- Preloader END -->