{{!-- <title>Products</title> --}}

<!-- Main container -->
<div class="page-container">

    <!-- bloc-2 -->
    <div class="bloc bgc-white l-bloc" id="bloc-2">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#">
                        <img src="../public/imgs/earphone.png" data-src="../public/imgs/earphone.png" class="img-responsive lazyload" />
                        <h3 class="mg-md">
                            Sony WH-1000XM3
                        </h3>
                    </a>
                    <p>
                        The excellent-sounding Sony WH-1000XM3 is more comfortable and 20 percent lighter
                        than its
                        predecessor. It offers slightly improved noise canceling and performs better as a headset for
                        making calls. Battery life is strong, and it has some nifty extra features geared toward
                        frequent travelers.
                        With its more comfortable fit and improved performance, the Sony WH-1000XM3
                        becomes the noise-canceling headphone to beat.
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="#">
                        <img src="../public/imgs/apple_home.png" data-src="../public/imgs/apple_home.png" class="img-responsive lazyload" />
                        <h3 class="mg-md">
                            Apple HomePod
                        </h3>
                    </a>
                    <p>
                        Apple's $349 HomePod has excellent bass and consistently superior sound quality across a wide
                        variety of music genres. The speaker is easy to set up and Siri can hear you from across a
                        room.
                        Apple's HomePod doesn't match the features offered on Alexa and Google
                        Assistant speakers. But if you’re an iPhone user who prizes sound quality above all, you should
                        seriously consider this speaker.
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="#">
                        <img src="../public/imgs/lenovo.png" data-src="../public/imgs/lenovo.png" class="img-responsive lazyload" />
                        <h3 class="mg-md">
                            Lenovo Yoga 920
                        </h3>
                    </a>
                    <p>
                        The Lenovo Yoga 920 keeps everything we liked about its predecessor, the 910, and fixes almost
                        everything we didn't.
                        If you care more about components than looks, there are less expensive options such as the Yoga
                        720 or Dell's Inspiron 13 7000 2-in-1 that will get you more memory and storage for your money.
                        But if you're
                        cool with the price, the 920 doesn't disappoint.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-2 END -->

    <!-- bloc-3 -->
    <div class="bloc bgc-white l-bloc" id="bloc-3">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#">
                        <img src="../public/imgs/dell.png" data-src="../public/imgs/dell.png" class="img-responsive lazyload" />
                        <h3 class="mg-md">
                            Dell XPS 13
                        </h3>
                    </a>
                    <p>
                        The new XPS 13 body is smaller, with better internal cooling and a sharp-looking all-white
                        interior. The nearly bezel-free screen still looks great and there's a fingerprint reader
                        hidden under the power button.
                        With a new design that catches up to the competition, Dell's XPS 13 remains one
                        of the best all-around 13-inch laptops, but everyone's biggest gripe remains unchanged.
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="#">
                        <img src="../public/imgs/q_acoustic.png" data-src="../public/imgs/q_acoustic.png" class="img-responsive lazyload" />
                        <h3 class="mg-md">
                            Q Acoustics 3020i
                        </h3>
                    </a>
                    <p>
                        A relatively young brand in the world of hi-fi, Q Acoustics has been producing budget hi-fi
                        since
                        2006. We first heard the company's products with the unique bolt-on Q-TV 2 speaker and were
                        pleased when the brand finally gained US distribution last year.
                        While the E Debut 6.2 cost the same and sound better, they're bigger and more generic-looking
                        than the 3020i. If you need a pair of speakers for a smaller system, these babies offer a lot
                        for the money.
                    </p>
                </div>
                <div class="col-sm-4">
                    <a href="#">
                        <img src="../public/imgs/samsung.png" data-src="../public/imgs/samsung.png" class="img-responsive lazyload" />
                        <h3 class="mg-md">
                            Samsung CF791
                        </h3>
                    </a>
                    <p>
                        The Samsung CF791 34-inch curved display is a great size for gaming, and the combination of a
                        100Hz refresh rate and FreeSync pairs well with midrange Radeon cards. Plus, its color is
                        pleasing.
                        Big, bright and reasonably accurate, the 34-inch curved Samsung CF791 is a bit
                        expensive for a FreeSync monitor but offers a generous feature set and solid performance for
                        the money if you're a Radeon gamer.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-3 END -->

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->



</div>
<!-- Main container END -->


<!-- Preloader -->
<div id="page-loading-blocs-notifaction"></div>
<!-- Preloader END -->